<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.bitwit">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".BitwitApplication"
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Bitwit"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <activity android:name=".activity.WebViewActivity"></activity>
        <activity android:name=".activity.auth.SignUpProcessActivity" />
        <activity android:name=".activity.auth.PasswordRetrievalActivity" />
        <activity android:name=".activity.PostActivity" />
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/Bitwit.NoActionBar" />
        <activity android:name=".activity.StockInfoActivity" />
        <activity
            android:name=".activity.auth.NaverLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_naver_login"
            android:theme="@style/Bitwit.Fullscreen" />
        <activity android:name=".activity.EntryPointActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.auth.SignUpActivity" />
        <activity android:name=".activity.auth.LoginActivity" />
        <activity android:name=".activity.auth.GoogleLoginActivity" />
    </application>
</manifest>